package components

import "github.com/kaminski-pawel/goth_tut2/models"

templ CountryList(countries []models.Country) {
    <div id="country-list" class="country-list">
	for _, country := range countries {
	    <div class="country-item">
		<h2><a href={templ.SafeURL("/country/" + country.Name)}>{country.Name}</a></h2>
		<p>Capital: {country.Capital}</p>
	    </div>
	}
    </div>
}

